* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 全体 */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #333;
}

/* ヒーロー */
.hero {
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  background-image: url('ポートフォリオ用/IMG_7394_1.JPG');
  background-size: cover;
  background-position: center;
  text-align: center;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0; /* top/right/bottom/leftまとめて書ける */
  background-color: rgba(0, 0, 0, 0.5);
}

.hero h2,
.hero p {
  position: relative;
  z-index: 1;
  color: white; /* 見やすくなる */
}

/* セクション */
.section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.section h2 {
  margin-bottom: 20px;
}

/* Aboutレイアウト */
/* 全体 */
.about-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-top {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

/* 写真 */
.about-image {
  width: 200px;
  flex-shrink: 0;
}

.about-image img {
  width: 100%;
  height: 400px;
  object-fit: cover; /* ←縦長でも崩れない */
  filter: grayscale(20%);
}

/* 左：文章 */
.about-text {
  flex: 1;
}

.hobbies-specialskills {
  margin-top: 20px;
}

.item {
  margin-bottom: 15px;
}

.item h4 {
  font-size: 14px;
  color: #888;
}

.hobbies-specialskills .skill-description {
  margin-left: 20px;
  color: #555;
  font-size: small;
}
/* 右：スキル */
.skills {
  width: 100%;
}

.skills ul {
  list-style: none;
}

.skills li {
  margin-bottom: 15px;
}

.skills span {
  display: block;
  margin-bottom: 5px;
}

/* スキルバー */
.bar {
  width: 100%;
  height: 8px;
  background: #eee;
}

.level {
  height: 100%;
  background: linear-gradient(90deg, #343434, #a0a0a0);

}

/* レベル */
.w1 { width: 20%; }
.w2 { width: 40%; }
.w3 { width: 60%; }

/* Works */
.works-list {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  gap: 20px;
    /* Chrome, Safari, Edge (WebKit系) */
  -webkit-overflow-scrolling: touch; /* スマホでの慣性スクロールを有効に */
}


.work-card {
  flex: 1;
  min-width: 400px;
  text-decoration: none;
  color: #333;
  overflow: visible;
  transition-duration: 0.5s;
  scroll-snap-align: center;
}

.work-card:hover {
transform: scale(1.2,1.2);
transition-duration: 0.5s;
}

.work-card img {
  width: 100%;
  display: block;
}

.work-info {
  padding: 10px 0;
}

.work-info h3 {
  font-size: 16px;
}

.work-info p {
  font-size: 12px;
  color: #777;
}

/* フッター */
.footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: #fff;
}